@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i2db0f');
  src:  url('fonts/icomoon.eot?i2db0f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i2db0f') format('truetype'),
    url('fonts/icomoon.woff?i2db0f') format('woff'),
    url('fonts/icomoon.svg?i2db0f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-image:before {
  content: "\e90d";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-clock:before {
  content: "\e94e";
}

.icon-home {
  color:CYAN;
}

.icon-folder-upload {
  color:CYAN;
}

.icon-bullhorn{
  color:CYAN;
}

.icon-clock {
  color:CYAN;
}

/* Table css ==================*/

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
th:last-child {
  border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
